{#
/**
 * @file
 * Theme override for a field.
 * BM custom: Overrides field_bg_image <div><img></div> output,
 * as we use the outer parent wrapper with inline background-img with
 * the URI to the uploaded image file.
 */
#}

{#{% if label_hidden %}#}
  {#{% if multiple %}#}
    {#<div{{ attributes.addClass(classes, 'field--items') }}>#}
      {#{% for item in items %}#}
            {#<div{{ item.attributes.addClass('field--item') }}>{{ item.content }}</div>#}
      {#{% endfor %}#}
    {#</div>#}
  {#{% else %}#}
    {#{% for item in items %}#}
            {#<div{{ attributes.addClass(classes, 'field--item') }}>{{ item.content }}</div>#}
    {#{% endfor %}#}
  {#{% endif %}#}
{#{% else %}#}
  {#<div{{ attributes.addClass(classes) }}>#}
    {#<div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>#}
    {#{% if multiple %}#}
      {#<div class="field__items">#}
    {#{% endif %}#}
    {#{% for item in items %}#}
      {#<div{{ item.attributes.addClass('field--item') }}>{{ item.content }}</div>#}
    {#{% endfor %}#}
    {#{% if multiple %}#}
      {#</div>#}
    {#{% endif %}#}
  {#</div>#}
{#{% endif %}#}
